.page-content {
  padding: 100px 0;
}

.cikk-panel {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.cikk-panel .article-image {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 15px 0;
}

.cikk-panel .cikk-header {
  padding: 20px 0 30px 0;
}

.cikk-panel .cikk-header .title {
  font-size: 25px;
  padding-top: 20px;
}

.cikk-panel .article-short {
  font-size: 18px;
}

.cikk-panel .green-border {
  border: 1px solid #dddfdc;
  padding: 0 15px;
}

.cikk-panel .icon-name {
  padding: 0 20px 0 3px;
}

.cikk-panel .buttons {
  cursor: pointer;
  margin: 15px 0;
}

.cikk-panel .user-img {
  border-radius: 50%;
  height: 30px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.cikk-panel .comment-border {
  margin-top: 10px;
  padding: 15px;
}

.cikk-panel .ikon-in-comments {
  padding-top: 15px;
}

.cikk-panel .comments-hide-button-padding-left {
  padding-left: 30px;
  cursor: pointer;
}

.cikk-panel .top-and-bottom-padding {
  padding: 10px 0;
  cursor: pointer;
}

.cikk-panel .new_comment {
  padding: 30px 0 10px 0;
}

.cikk-panel .send-button {
  margin: 10px 0 20px 0;
}

.cikk-panel .active-or-hide {
  display: none;
}

.cikk-panel .new_comment_show_or_hide {
  display: none;
}

