@charset "UTF-8";

body {
  background-color: #dff1d8;
}

.page-title {
  color: #577e70;
  margin-bottom: 20px;
}

/*...MENÜ...*/

.navbar-nav {
  float: right;
  outline: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin: 4px 0 4px  4px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

li a:hover,
li a:focus {
  color: #000000;
  background-color: transparent !important;
  text-shadow: none;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.navbar-brand {
  font-size: 30px;
  margin: 4px 0;
  color: white;
  font-family: 'Arial';
  text-shadow: none;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #000000;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #577e70;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-fixed-top {
  background-color: #577e70;
}

.navbar-brand.fixed-theme {
  font-size: 25px;
}

.navbar-container.fixed-theme {
  padding: 0;
}

.navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s;
}

.icon-bar {
  background-color: white;
}

/* MENÜ LEGÖRDÜLŐ RÉSZE */

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown:hover .dropbtn {
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  margin: 0;
  color: #729b8c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-top: 0.5px solid #577e70;
}

.dropdown-content a:hover {
  background-color: #577e70;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    float: none;
  }

  li.dropdown {
    display: block;
  }

  .dropdown-content {
    position: relative;
  }

  .dropdown-content a {
    text-align: center;
  }

  .navbar-nav {
    margin: 0px -15px;
  }
}

