// az egész oldal felső paddingja
.page-content{
  padding: 100px 0;
}

//CIKK DOBOZOK
.cikk-panel{
  background-color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  .article-image{
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 15px 0;
  }
  .cikk-header{
    padding: 20px 0 30px 0;
    .title{
      font-size: 25px;
      padding-top: 20px;
    }
  }
  .article-short{
    font-size: 18px;
  }
  .green-border{
    border: 1px solid #dddfdc;
    padding: 0 15px;
  }
  //like comment iconok melletti megnevezések
  .icon-name{
    padding: 0 20px 0 3px;
  }
  .buttons{
    cursor: pointer;
    margin: 15px 0;
  }
  //az elrejtett comment részben lévő dolgok
  .user-img{
    border-radius: 50%;
    height: 30px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .comment-border{
    margin-top: 10px;
    padding: 15px;
  }
  .ikon-in-comments{
    padding-top: 15px;
  }
  //a kommentek elrejtése gomb(első gomb)
  .comments-hide-button-padding-left{
    padding-left: 30px;
    cursor: pointer;
  }
  //a kommentek elrejtése gomb(második gomb)
  .top-and-bottom-padding{
    padding: 10px 0;
    cursor: pointer;
  }
  .new_comment{
    padding: 30px 0 10px 0;
  }
  //a komment elküldésgomb
  .send-button{
    margin: 10px 0 20px 0;
  }
  //az oldal betöltésekor ezeke hide-ok
  .active-or-hide{
    display: none;
  }
  .new_comment_show_or_hide{
    display: none;
  }
}